{% extends 'base.html' %}

{% block content %}
  <h2>Certification Detail</h2>
  <table>
    <tr>
      <th>Certification ID:</th>
      <td>{{ cert.id }}</td>
    </tr>
    <tr>
      <th>Certification Name:</th>
      <td>{{ cert.name }}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{ cert.description }}</td>
    </tr>
    <tr>
      <th>Validity Period:</th>
      <td>{{ cert.validity_period }}</td>
    </tr>
  </table>
  <a href="{% url 'cert_edit' cert.id %}">Edit</a>
  <a href="{% url 'cert_delete' cert.id %}">Delete</a>
{% endblock %}