{% extends 'base.html' %}

{% block content %}
  <h2>Position Detail</h2>
  <table>
    <tr>
      <th>Name:</th>
      <td>{{ position.name }}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{ position.description }}</td>
    </tr>
    <tr>
      <th>Contract Duration:</th>
      <td>{{ position.contract_duration }}</td>
    </tr>
  </table>
  <a href="{% url 'position_edit' position.id %}">Edit</a> |
  <a href="{% url 'position_delete' position.id %}">Delete</a> |
  <a href="{% url 'position_list' %}">Back to Position List</a>
{% endblock %}